.nav{
    background-color: #3E4E6A;
    width: 700px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 2px;
}
button{
    background-color: turquoise;
    box-shadow: 5px 5px black;
}
h2,a{
    color: white;
    text-decoration: none;
}
h2{
    font-family: Gotham-Rounded-Book;
}
.nav-links{
    display: flex;
    width: 600px;
    align-items: center;
    height: 40px;
    
    
}
ul{
    
    display: flex;
    justify-content: end;
    list-style-type: none;
}
li{
    margin: 5px;
    text-decoration: none;
}