<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        border: 1px solid black;
        width: 700px;
        border-collapse: collapse;
        margin: 0px auto;
    }
    tr,td,th{
        border:1px solid black
    }
</style>
<body>
    <h2 style="text-align: center;">all show</h2>                <a href="/show">go back</a>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>networke</th>
            <th>releas data</th>
            <th>actions</th>
        </tr>
        {%for key in tvs%}
        <tr>
            <td>{{key.title}}</td>
            <td>{{key.netwok}}</td>
            <td>{{key.desc}}</td>
            <td>{{key.releas}}</td>
            <td><a href="/read">show</a> | <a href="/show/{{key.id}}/edit">edit </a> | <a href="/delet/{{key.id}}/edit">delet</a></td>
        </tr>
        {%endfor%}
    </table>
    <a href="/new">add new</a>
</body>
</html>