<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            text-align: center;
        }

        ul{
            list-style-type: none;
        }
        .form {
            display: flex;
            justify-content: space-evenly;
            
        }
    </style>
</head>
<body>
    <main>
        <div class="form">
            <div>
                <form action="/handel" method="post">
                    {% csrf_token %}
                    <p>name <input type="text" name="name"></p>
                    <p>city <input type="text" name="city"></p>
                    <p>state <input type="text" name="state"></p>
                    <button type="submit">add</button>
                </form>
            </div>
            <div>
                <form action="/handel1"  method="post">
                    {% csrf_token %}
                    <p>first_name <input type="text" name="first_name"></p>
                    <p>last_name <input type="text" name="last_name"></p>
                    <p>dojo <select name="dojo" >
                                {%for dojo in dojos%}
                                <option value="{{dojo.id}}" >{{dojo.name}}</option>
                                {%endfor%}
                                <option selected>chose</option>
                            </select>
                    </p>
                    <button type="submit">add</button>
                </form>
            </div>
        </div>
        <hr>
        <div>
            <h2>all the  dojod</h2>
            {%for dojo in dojos %}
            <ul>
            <li>{{dojo.name}}
            {%for ninja in dojo.ninjas.all%}
            <ul>
                <li><em>{{ninja.first_name}} {{ninja.last_name}}</em></li>
            </ul>
            {%endfor%}
            </li>
            </ul>
            {%endfor%}
        </div>
    </main>
</body>
</html>