.form-group{
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 10px;
}
.form-group input{
    height: 25px;
    border-radius: 15px;
}
