<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            width: 800px;
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div class="main">
        <div>
            <form action="/register" method="post">
                <h2>register</h2>
                {% csrf_token %}
                <p>first name: <input type="text" name="first_name"></p>
                <p>last_name: <input type="text" name="last_name"></p>
                <p>email: <input type="email" name="email"></p>
                <p>password: <input type="password" name="password"></p>
                <p>confirm_password: <input type="password" name="confirm_pw"></p>
                <button type="submit">register</button>
            </form>
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <form action="/login" method="post">
                <h2>login</h2>
                {% csrf_token %}
                <p>email <input type="email" name="email"></p>
                <p>password <input type="password" name="password"></p>
                <button type="submit">login</button>
            </form>
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %} 
                        <li {% if message.tags %} class="{{ message }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
</div>
</body>
</html>